.ewadiv {
    align: center;
    margin: auto;
}

.gifdiv {
    display: flex;
    justify-content: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
#footer {
  position: relative;
  width: 100%;
  background: #cbe8ed;  
}

.page-heading {
    text-align: center;

}

.jumbotron {
height: 400px;
max-width: 100%;
background-image: url("../../grafika/contact.jpg");
background-size: auto 100%;
background-position: center center;
background-repeat: no-repeat;
}


h2 {
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

}

.bg-primary {
  background-color: #F05F40 !important;
}